{% macro about() %}
 <div class="user-details">
  <h1> About me </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
    {% for tech in config.extra.techs %}
    <div class="tech">
      <h2>{{ tech.title }}</h2>
      {% for icon in tech.icons %}
        {% if icon.image %}
          <img alt="icon" src="{{ config.base_url ~ "/img/"}}{{ icon.name }}" />
        {% else %}
          <i class="{{ icon.name }}"></i>
        {% endif %}
      {% endfor %}
      <p>{{ tech.description }}</p>
    </div>
    {% endfor %}

</div>
{% endmacro about %}

{% macro projects() %}
  {% for page in section.pages %}
    <div class="user-projects">
      <div class="images-{% if loop.index is not odd %}left{% else %}right{% endif %}">
        <img alt="mountains" src="{{ config.base_url ~ "/img/" }}{% if loop.index is not odd %}skate.jpg{% else %}mountains.jpg{% endif %}" />
      </div>
      <div class="contents{% if loop.index is not odd %}-right{% else %}{% endif %}">
        <h3> {{ page.title }} </h3>
        <ul>
          <li> Featured Skills </li>
        </ul>
        <p>{{ page.description }}</p>
        <a class="project-link" href="{{ config.base_url }}{{page.path}}#content"> See more </a>
      </div>
    </div>
  {% endfor %}
{% endmacro projects %}

