{% macro about() %}
  <div class="user-details">
    {{ section.content | safe }}
  </div>
  <div class="user">
    {% for tech in config.extra.techs %}
    <div class="tech">
      <h2>{{ tech.title }}</h2>
      <div class="tech-icons">
        {% for icon in tech.icons %}
          {% if icon.image %}
            <img alt="icon" src="{{ config.base_url ~ "/img/"}}{{ icon.name }}" />
          {% else %}
            <i class="{{ icon.name }}"></i>
          {% endif %}
        {% endfor %}
      </div>
      <p>{{ tech.description }}</p>
    </div>
    {% endfor %}

</div>
{% endmacro about %}

{% macro projects() %}
  {% for page in section.pages | sort(attribute="extra.index") %}
    <div class="user-projects">
      <div class="images-{% if loop.index is not odd %}left{% else %}right{% endif %}">
        <img alt="mountains" src="{{ config.base_url ~ "/img/" }}{{ page.extra.img }}" />
      </div>
      <div class="contents{% if loop.index is not odd %}-right{% else %}{% endif %}">
        <h3> {{ page.title }} </h3>
        <ul>
          {% for skill in page.extra.skills %}
            <li> {{ skill }} </li>
          {% endfor %}
        </ul>
        <p>{{ page.description }}</p>
        <a class="project-link" href="{{ config.base_url }}{{page.path}}#content"> See more </a>
      </div>
    </div>
  {% endfor %}
{% endmacro projects %}

