
{% macro head() %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">

  <link rel="stylesheet" href="{{ config.base_url ~ "/main.css" }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>
{% endmacro head %}

{% macro footer() %}
<footer class="footer">
    <p>&copy; {{ config.extra.username }}</p>
    <p>Ported to Zola with <span class="love">❤</span> by <a href="https://github.com/svavs">Silvano Sallese</a> (original by <a href="https://github.com/nrandecker">Nathan Randecker</a>)</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ config.base_url ~ "/js/sweet-scroll.min.js" }}"></script>
<script src="{{ config.base_url ~ "/js/main.js" }}"></script>
{% endmacro footer %}

{% macro header(home, type="bool") %}
<div id="particles-js">
  <div class="header">
      <h1>
        <img class="user-photo" src="{{ config.base_url }}/{{ config.extra.user_photo }}" alt="User photo">
        <span class="site-title">{{ config.extra.username }}</span>
        <span class="site-description">{{ config.extra.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Github" target="_blank" href="{{ config.extra.user_github }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="{{ config.extra.user_linkedin }}"><i class="icon fa fa-linkedin" aria-hidden="true""></i></a>
        <a aria-label="Send email" href="mailto:{{ config.extra.user_email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My resume" target="_blank" href="{{ config.base_url }}/{{ config.extra.user_resume }}"><i class="icon fa fa-file-text"></i></a>
      </div>
      <div class="header-links">
        {% if home %}
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
        {% else %}
          <a class="link" href="/">Home</a>
        {% endif %}
      </div>
  </div>
  {% if page %}
    <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  {% else %}
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  {% endif %}
</div>
{% endmacro header %}

{% macro google_analytics() %}
<!-- Google Analytics -->
{% if config.extra.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z1GNLBD1F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ config.extra.google_analytics }}');
</script>
{% endif %}
{% endmacro google_analytics %}
